<div class="component-container">
  <div nz-row>
    <div nz-col nzSpan="24" class="breadcrumb-container">
      <nz-breadcrumb>
        <nz-breadcrumb-item>
          <a [routerLink]="'../'">
            <span> 资产列表</span>
          </a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          资产详情
        </nz-breadcrumb-item>
      </nz-breadcrumb>
    </div>
    <div nz-col nzSpan="24">
      <nz-spin nzTip='资产详细信息加载中...' [nzSize]="'large'" [nzSpinning]="loading" [nzDelay]="500">

        <nz-card id="propertyDetail" nzTitle="资产详情" [nzExtra]="extraTemplate">
          <div class="basicInfo m-b-md" nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }">
            <div nz-col nzXs="8" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
              <img class="logo" src="{{property.logoUrl?property.logoUrl:'http://iph.href.lu/1000x330?text=暂无图片&bg=836&fg=fff'}}" />
            </div>
            <div nz-col nzXs="16" nzSm="16" nzMd="16" nzLg="16" nzXl="16">
              <h1 class="title">
                {{property.name}}
                <nz-tag [nzColor]="property.propertyType=='房屋'?'#2db7f5':'#f50'">{{property.propertyType}}</nz-tag>
              </h1>
              <nz-divider nzDashed="true"></nz-divider>
              <div nz-row>
                <div nz-col nzSpan="24" class="item">
                  <div>产权单位：
                    <a href="">{{property.governmentName}}</a>
                  </div>
                </div>
                <div nz-col nzSpan="24" class="item">
                  <div>坐落位置：{{property.address}}</div>
                </div>
                <div nz-col nzSpan="24" class="item">
                  <div>四至情况：{{property.fourToStation}}</div>
                </div>
                <div nz-col nzSpan="8" class="item">
                  <div>取得方式：{{property.getMode}}</div>
                </div>
                <div nz-col nzSpan="16" class="item">
                  <div>取得日期：{{property.getedDate}}</div>
                </div>
                <div nz-col nzSpan="8" class="item" *ngIf="property.propertyType=='房屋'">
                  <div>层数：{{property.floor}} 层</div>
                </div>                  
                <div nz-col nzSpan="8" class="item" *ngIf="property.propertyType=='房屋'">
                  <div>房产面积：{{property.constructArea}} 平方米</div>
                </div>
                <div nz-col nzSpan="8" class="item">
                  <div>土地面积：{{property.landArea}} 平方米</div>
                </div>                                              
                <div nz-col nzSpan="24" class="item">
                  <div>备注：{{property.description}}</div>
                </div>
              </div>
            </div>
          </div>

          <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'" nzSize="large">
            <nz-tab nzTitle="详细信息">
              <div class="tabContent" nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }">
                <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
                  <table class="detailTable">
                    <tbody>
                      <tr class="detailTitle">
                        <td>使用情况</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>使用现状</td>
                        <td>{{property.currentType}} </td>
                      </tr>
                      <tr>
                        <td>用途</td>
                        <td>{{property.useType}} </td>
                      </tr>
                      <tr>
                        <td>抵押情况</td>
                        <td><i class="anticon" [ngClass]="{'anticon-check-circle':property.isMortgage,'anticon-close-circle':!property.isMortgage}"></i></td>
                      </tr>
                      <tr>
                        <td>入账情况</td>
                        <td><i class="anticon" [ngClass]="{'anticon-check-circle':property.isAdmission,'anticon-close-circle':!property.isAdmission}"></i></td>
                      </tr>

                  </table>
                </div>
                <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
                  <table class="detailTable">
                    <tbody>
                      <tr class="detailTitle">
                        <td>产权信息</td>
                        <td></td>
                      </tr>
                      <tr *ngIf="property.estateId">
                        <td>不动产证</td>
                        <td>{{property.estateId}} </td>
                      </tr>
                      <tr *ngIf="property.estateId">
                        <td>办证时间</td>
                        <td>{{property.estateTime}} </td>
                      </tr>                      
                      <tr *ngIf="property.constructId">
                        <td>房产证</td>
                        <td>{{property.constructId}} </td>
                      </tr>
                      <tr *ngIf="property.constructId">
                        <td>办证时间</td>
                        <td>{{property.constructTime}} </td>
                      </tr>
                      <tr *ngIf="property.landId">
                        <td>土地证</td>
                        <td>{{property.landId}} </td>
                      </tr>
                      <tr *ngIf="property.landId">
                        <td>办证时间</td>
                        <td>{{property.landTime}} </td>
                      </tr>

                    </tbody>
                  </table>
                </div>

                <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" *ngIf="property.files.length>0">
                  <table class="detailTable">
                    <tbody>
                      <tr class="detailTitle">
                        <td>图片附件</td>
                      </tr>
                      <tr *ngFor="let picture of property.pictures; let i = index">
                        <td>{{i+1}}.<a href="{{picture.href}}" target="_blank">{{picture.title}}</a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" *ngIf="property.files.length>0">
                  <table class="detailTable">
                    <tbody>
                      <tr class="detailTitle">
                        <td>文件附件</td>
                      </tr>
                      <tr *ngFor="let file of property.files; let i = index">
                        <td>{{i+1}}.<a href="{{file.src}}" target="_blank">{{file.title}}</a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>

              </div>
            </nz-tab>
            <nz-tab nzTitle="租用信息">
                <nz-list [nzDataSource]="property.rents" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
                    <ng-template #item let-item>
                      <nz-list-item>
                        <nz-list-item-meta
                          [nzTitle]="nzTitle"
                          nzAvatar="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
                          nzDescription="Ant Design, a design language for background applications, is refined by Ant UED Team">
                          <ng-template #nzTitle>
                            <a href="https://ng.ant.design">{{item.title}}</a>
                          </ng-template>
                        </nz-list-item-meta>
                      </nz-list-item>
                    </ng-template>
                  </nz-list>
            </nz-tab>
            <nz-tab nzTitle="空间信息" (nzSelect)="mapStepInitial()">
              <div class="tabContent" nz-row>
                <div nz-col [nzSpan]="24">
                  <div id="map"></div>
                </div>
              </div>

            </nz-tab>
          </nz-tabset>
        </nz-card>
        <ng-template #extraTemplate>
            <a class="m-r-md" [routerLink]="['../edit', property.id]" ><i class="anticon anticon-edit"></i> 资产变更</a>
            <!-- <a> 资产核销</a> -->
        </ng-template>

      </nz-spin>
    </div>
  </div>
</div>