<div class="component-container">
  <div nz-row>
      <div nz-col nzSpan="24" class="breadcrumb-container">
          <nz-breadcrumb>
              <nz-breadcrumb-item>
                  出租列表
              </nz-breadcrumb-item>
          </nz-breadcrumb>
      </div>

      <div nz-col nzSpan="24">

        <div class="card-container">
          <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'" >
            <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab"  (nzClick)="getRents(tab)" >

              <nz-card nzTitle="出租列表" [nzExtra]="extraTemplate">
                <div class="component-content">
                    <!-- [ngStyle]="{'height.px':contentHeight-135.875}" -->
                    <app-ui-table [dataset]="data" [tableOption]="tableOption" [loading]="loading" (paramsChange)="getAllProperties($event)"></app-ui-table>
                </div>
            </nz-card>

            </nz-tab>
          </nz-tabset>
        </div>


      </div>



  </div>
</div>