<div class="component-container" style="width: 100%">
<div nz-row>
    <div nz-col nzSpan="24">
        <h1>资产管理中心</h1>
        <nz-breadcrumb>
            <nz-breadcrumb-item>
                <i class="anticon anticon-home"></i>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                <a><i class="anticon anticon-user"></i><span>Application List</span></a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                Application
            </nz-breadcrumb-item>
        </nz-breadcrumb>
    </div>
</div>
<div nz-row>
    <div nz-col nzSpan="24"></div>
</div>
</div>