<div class="component-container">
    <div el-row >
        <div el-col [span]="24">
            <el-card class="box-card">
                <ng-template #header>
                    <div class="clearfix">
                        <h1>资产列表</h1>
                        <el-button-group class="tools-group">
                            <el-button type="primary" icon="edit"></el-button>
                            <el-button type="primary" icon="share"></el-button>
                            <el-button type="primary" icon="delete"></el-button>
                        </el-button-group>
                    </div>
                    <div>            
                        <el-breadcrumb separator-class="el-icon-arrow-right">
                            <el-breadcrumb-item to="">资产列表</el-breadcrumb-item>
                        </el-breadcrumb></div>
                </ng-template>
                <div class="component-content">
                        <!-- [ngStyle]="{'height.px':contentHeight-135.875}" -->
                    <app-ui-table ></app-ui-table>
                </div>
            </el-card>
        </div>
    </div>
</div>